<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunicatorApp"
        tools:targetApi="31">

        <!-- Dictionary Activity -->
        <activity
            android:name=".DictionaryActivity"
            android:exported="false"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/Theme.CommunicatorApp" />

        <!-- Help with Speaking Activity -->
        <activity
            android:name=".HelpWithSpeakingActivity"
            android:exported="false"
            android:label="@string/title_activity_help_with_speaking"
            android:theme="@style/Theme.CommunicatorApp" />

        <!-- Survival Words Activity -->
        <activity
            android:name=".SurvivalWordsActivity"
            android:exported="false"
            android:label="@string/title_activity_survival_words"
            android:theme="@style/Theme.CommunicatorApp" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CommunicatorApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Type to Speech Activity -->
        <activity
            android:name=".TypeToSpeechActivity"
            android:exported="false"
            android:label="@string/title_activity_type_to_speech"
            android:theme="@style/Theme.CommunicatorApp" />

    </application>

</manifest>
